@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1710902597810') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hanbao:before {
  content: "\101a0";
}

.icon-pisa:before {
  content: "\101a1";
}

.icon-mianbao:before {
  content: "\101a2";
}

.icon-tiandian:before {
  content: "\101a3";
}

.icon-kaoya:before {
  content: "\101a4";
}

.icon-pijiu:before {
  content: "\101a5";
}

.icon-shutiao:before {
  content: "\101a6";
}

.icon-regou:before {
  content: "\101a7";
}

